/* Login*/
.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
  }

  
/* Index*/
.card-home {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
  }


/* Consultar chamado*/
.card-consultar-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
  }


/* Abrir chamado*/
.card-abrir-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
  }